.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    background-color: none;
    position: sticky;
    z-index: 1000;
    border-bottom: 1px solid var(--grey);
}

/* navbar logo */
.nav-left {
    content: url('../../assets/logo.png');
    height: 2rem;
    cursor: pointer;
}

.nav-mid {
    display: flex;
    justify-content: flex-end;
    align-content: center;

}

.nav-mid ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0.9rem;
    gap: 12px;
    margin-left: 2vw;
    list-style: none;
    border-radius: 42px;
    border: 1px solid var(--grey);
    box-shadow: 2px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.nav-mid ul:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 10%);
    transition: all 0.2s;
    cursor: pointer;
}

.mid-nav-btn {
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
    align-items: center;
    border-right: 1px solid var(--grey);
    padding-right: 10px;
    padding-top: 0%;
    list-style: none;
}

.mid-nav-btn1 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--font-grey);
    align-items: center;
    padding-right: 7px;
    list-style: none;
}

.search-icon {
    padding: 4px;
    margin-top: 7px;
    border: none;
    border-radius: 42px;
    background-color: rgb(127, 101, 92);
    height: 5px;
    width: 5px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: auto;
    background-color: none;
}

.nav-right-home {
    padding: 4px 14px;
    font-style: bold;
    font-weight: 600;
    border-radius: 40px;

}

.nav-right-home:hover {
    background-color: var(--grey);
    cursor: pointer;
}

.nav-right-lang {
    padding: 4px 9px;
    margin-top: 5px;
    border-radius: 500px;
}

.nav-right-lang:hover {
    background-color: var(--grey);
    cursor: pointer;
}

.nav-profile {
    display: flex;
    align-items: center;
    border: 1px solid var(--grey);
    padding: 0px 11px;
    padding-top: 5px;
    border-radius: 42px;
    cursor: pointer;
}

.nav-profile:hover {
    box-shadow: 1rem;
}

.bottom-nav {
    display: none;
    background-color: black;
    bottom: 0px;
}

.mobile-search-bar {
    padding: 10px 0px;
    display: none;

}



.searchbar-icon{
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px 5px;
    background-color: var(--grey);
}

.searchbar-icon:hover{
    background-color: var(--gray);
}

@media (max-width: 900px) {
    .nav-left {
        content: url('../../assets/logo1.png');
    }
}

@media (max-width: 960px) {
    .nav-mid {
        display: none;
    }


}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .nav-profile {
        position: fixed;
        top: 0.5rem;
        right: 1.5rem;
    }

    .bottom-nav {
        display: flex;
        justify-content: center;
        height: 5rem;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid var(--grey);
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    }


    .mobile-search-bar {
        display: block;
        background-color: rgb(255, 254, 254);
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
}

.search-icon {
    padding: 9px;
}

.search-input {
    width: 80vw;
    padding: 10px;
    border-radius: 40px;
}




.responsive-search-bar {
    background-color: rgb(194, 156, 156);
    height: 4rem;
    border-radius: 40px;
    margin: 0.7rem 1rem;
}


a:link, a:visited {
    background-color: rgb(183, 156, 156);
    color: black;
    border: 2px solid rgb(29, 31, 29);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }