.cards-flex {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 3vw;

}

.card-container{
  padding: 10px 1vw;
}

.card-image-container {
  width: 20.7vw;
  height: 16.7vw;
  display: flex;
  overflow-x: hidden;
  margin: 1vw 1vvw;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-details{
  align-items: center;
  text-align: left;
}

.card-details h5{
  margin:  1px 1px;
  color: var(--black);
}

.card-details p{
  margin:  1px 1px;
  font-size: 0.8rem;
  color: var(--gray);
}

.card-details h4{
  margin:  1px 1px;
  color: var(--black);
}

