#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

:root {
  --black: #000;
  --grey: #ddd;
  --font-grey: #717171;
  --white: #ffffff;
  --theme: #ff385c;
  --light-grey: #f7f7f7;
}

.experiences-heading{
  border-bottom: 2px solid black !important;
  width: 20%;
  margin: 3.7vw;
}